body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: url(img/bg.jpg) no-repeat center top /cover;
    height: 100vh;
}

.container {
    float: left;
    margin-top: 0;
    padding-top: 20vh;
    margin-left: 50vw;
    text-align: right;   
}

.title{
    animation: opacity 2s;
}


@keyframes opacity{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

h1 {
    font-size: 9vh;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}


h2 {
    font-weight: 100;
    font-size: 5vh;
    margin: 0;
    padding: 0;
}


li {
    list-style-type:none;
    float: right;
    margin-left: 0;
    padding-left: 0;
    background: #777;
    border-radius: 3px;
    display: block;
    width: auto+2vh;
    padding: 1.5vh;
    margin: 1vh;    
}

li:hover{
    background: #000;
    transform: scale(1.05);
}

nav a {
    font-weight: 900;
    color: #fff;
    font-size: 2.5vh;
    text-align: center;
    text-decoration: none;
    
}